/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-tab-label{
    color:#000000 !important
}
.mat-form-field-appearance-legacy .mat-form-field-label{
    color:#000000 !important
}
.mat-form-field-appearance-legacy .mat-form-field-underline{
    background-color: #ccc;
}
.mat-toolbar{
    background-color: #c2185b;
}
